<div class="row">
  <div class="col-10">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link" data-toggle="pill" aria-selected="true" routerLink="/log-in">login</a>
      <a class="nav-link" data-toggle="pill" aria-selected="false" routerLink="/rol">Profile</a>
      <a class="nav-link" data-toggle="pill" aria-selected="false" routerLink="/department">Messages</a>
      <a class="nav-link" data-toggle="pill" aria-selected="false" routerLink="/employee">Settings</a>
    </div>
  </div>